@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  
}

/* defining colors */
:root {
   --color-main-background: #FDF5E9;
  --color-dark-textcolor: #581A0F;
  --color-light-textcolor: #882B1D;
}

@theme {
  --color-main-background: #FDF5E9;
  --color-dark-textcolor: #581A0F;
  --color-light-textcolor: #882B1D;
}