@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  
}

/* defining colors */
:root {
  --color-main-background: #FDF5E9;
  --color-dark-textcolor: #581A0F;
  --color-light-textcolor: #882B1D;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-main-background);
  color: var(--color-dark-textcolor);
}
.page {
  animation: pageTransition 0.7s ease;
}

@keyframes pageTransition {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}